html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}
#productPrice
{
    color: #337ab7;
    float: right;
    /*padding-left: 660px;*/
}
#productOldPrice
{
    color: #a9203e;
    float: right;
    /*padding-left: 660px;*/
}
#right
{
    float: right;
}
#productCount
{
    float: right;
}
#productViewPrice
{
    color: #337ab7;
    text-align: right;
}
#productBuy
{
   /* padding-left: 600px;*/
    float: right;
}
#catBorder
{
  margin-bottom: 80px;
}
#description
{
    /*width: 600px;*/
}
a.productBuy {

    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
a.productBuy:hover { background: rgb(53, 167, 110); }
a.productBuy:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}
.productDel
{
    float: right;
}
a.checkout {

    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(66,170,255);
    box-shadow: 0 -3px rgb(3,128,156) inset;
    transition: 0.2s;
}
a.checkout:hover { background: rgb(0,191,233); }
a.checkout:active {
    background: rgb(2,85,105);
    box-shadow: 0 3px rgb(2,85,105) inset;
}
.number
{
    float: right;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}

ul.sorter {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
}
ul.sorter li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 5px; /* Отступ слева */
    /*border: 1px solid #000;  Рамка вокруг текста */
    padding: 3px; /* Поля вокруг текста */
}


